<ng-content></ng-content>

<div class="error" *ngIf="isInvalidProps">`min` should be less than `max`</div>

<ng-container *ngIf="!isInvalidProps">
  <button (click)="handleGenerateButtonClick()">Generate!</button>
  <span>Random Number: <b>{{ randomNumber }}</b></span>
</ng-container>

<ng-content select="[footer]"></ng-content>
