<p>user-details-page works!</p>

<ng-container *ngIf="userForm">
  <form [formGroup]="userForm">
    <label>
      Email: <input formControlName="email" />
    </label>
    <label>
      First Name: <input formControlName="firstName" />
    </label>
    <label>
      Last Name: <input formControlName="lastName" />
    </label>
    <label>
      Phone: <input formControlName="phone" />
    </label>
    <button (click)="handleSave()">Save</button>
    <button (click)="navigateToUserList()">Cancel</button>
  </form>


</ng-container>

<pre>
  {{ userForm?.value | json }}
</pre>
