<p>users-page works!</p>
<!--{{ users | json }}-->
<ul>
  <li *ngFor="let user of users">
    <a [routerLink]="getUserUrl(user)">
      {{ user?.firstName }} {{ user?.lastName }} ({{ user?.email }})
    </a>
  </li>
</ul>
